/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

/* STYLE SHEET */

:root {
  --color-cream: hsl(30, 38%, 92%);
  --color-white: hsl(0, 0%, 100%);
  --color-dark-cyan: hsl(158, 36%, 37%);
  --color-dark-blue: hsl(212, 21%, 14%);
  --color-grayish-blue: hsl(228, 12%, 48%);

  --font-weight-500: 500;
  --font-weight-700: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Fraunces";
  src: url(fonts/Fraunces/Fraunces-VariableFont_SOFT\WONK\opsz\wght.ttf);
}

body {
  display: grid;
  place-items: center;
  background-color: var(--color-cream);
  font-family: "Montserrat", sans-serif;
  font-weight: var(--font-weight-500);
}

main.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 40%;
}

main.card > .image-desktop {
  min-height: 100%;
  max-width: 100%;
  border-radius: 0.5rem 0 0 0.5rem;
}

main.card > .image-mobile {
  display: none;
}

main.card > .side-panel {
  background-color: var(--color-white);
  padding: 2rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

main.card > .side-panel > .perfume {
  color: var(--color-grayish-blue);
  letter-spacing: 0.5rem;
  font-size: 0.625rem;
}

main.card > .side-panel > h1 {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: var(--font-weight-700);
  color: var(--color-dark-blue);
}

main.card > .side-panel > p {
  color: var(--color-grayish-blue);
  margin: 1rem 0;
  line-height: 1.4rem;
  font-size: 0.875rem;
}

main.card > .side-panel > .prices-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.prices-container > .current-price {
  font-family: Fraunces, sans-serif;
  font-size: 2rem;
  font-weight: var(--font-weight-700);
  color: var(--color-dark-cyan);
}

.prices-container > .last-price {
  font-family: Fraunces, sans-serif;
  text-decoration: line-through;
  color: var(--color-grayish-blue);
}

main.card > .side-panel > .add-to-cart-button {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  padding: 1rem 0;
  background-color: var(--color-dark-cyan);
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--color-white);
}

main.card > .side-panel > .add-to-cart-button:hover {
  background-color: var(--color-dark-blue);
  cursor: pointer;
}

@media (max-width: 1200px) {
  main.card {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  main.card {
    width: 60%;
  }
}

@media (max-width: 800px) {
  main.card {
    width: 80%;
  }
}

@media (max-width: 600px) {
  main.card {
    width: 90%;
  }
}

@media (max-width: 500px) {
  main.card {
    grid-template-columns: 1fr;
    align-content: center;
    margin: 2rem 1rem;
    height: 100%;
  }

  main.card > .image-mobile {
    display: block;
    border-radius: 0.5rem 0.5rem 0 0;
    max-height: 100%;
    max-width: 100%;
  }

  main.card > .image-desktop {
    display: none;
  }

  main.card > .side-panel {
    border-radius: 0 0 0.5rem 0.5rem;
  }
}
